@using Hospital.Models.Entity
@model List<RECETE>
@{
    ViewBag.Title = "ReceteleriGörüntüle";
    Layout = "~/Views/Shared/Doctor.cshtml";
}

<div align="center" style="padding-left: 80px ">
    <div style="padding-top:20px">
    </div>

    @using (Html.BeginForm("Index", "Recete", FormMethod.Get))
    {
        <div style="margin-bottom:15px; margin-top:15px; float:left">
            <b>Aranacak Hasta TC Giriniz! </b> @Html.TextBox("p")
            <input type="submit" value="Ara" />
        </div>
    }

    <table class="table table-bordered" style="padding-top:40px">

        <tr>
            <th>ID</th>
            <th>İLAC ADLARI</th>
            <th>TARİH</th>
            <th>DOKTOR</th>
            <th>RECETE NUMARASI</th>
            <th>HASTA BİLGİLERİ</th>
            <th>MAİL ADRESİ</th>
            <th>HASTA TC</th>
        </tr>

        @foreach (var ktg in Model)
        {
            <tr>
                <td>@ktg.ID</td>
                <td>@ktg.ILAC</td>
                <td>@ktg.TARIH</td>
                <td>@ktg.DOKTOR</td>
                <td>@ktg.RECETENO</td>
                <td>@ktg.HASTA</td>
                <td>@ktg.MAİLADRES</td>
                <td>@ktg.HASTATC</td>

                <td align="center">
                    <a href="/Recete/ReceteleriGetir/@ktg.ID" class="btn btn-warning">Güncelle</a>
                </td>
            </tr>
        }

    </table>
</div>
<div style="padding-left: 80px">
    <a href="/Recete/ReceteYaz/" class="btn btn-primary">Yeni Recete Ekle</a>
</div>

