@model Hospital.Models.Entity.Patient

@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yozgat bozok Üniversitesi Araştırma Hastanesi Kayıt Paneli</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="~/webregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>

                    <h1 style="background-color: cornflowerblue; ">Hasta Kayıt Sistemi</h1>

                    <p style="background-color: cornflowerblue; ">
                        Hasta kayıt sistemi, bir hastanın sağlığına yönelik tüm bilgilerin kayıt edildiği bir sistemdir. Bu sistem ile hastaların yakından takibi sağlanır. Tüm teşhis- tanılar, laboratuvar veya radyoloji sonuçları gibi hastanın tüm sağlık verilerinin tek bir yerde depolanmasıdır.
                    </p>
                </div>
                <div class="content3">
                    <ul>
                        <li><a class="" href="https://localhost:44348/home/">AnaSayfaya dön</a></li>
                        <li><a class="read" href="https://localhost:44348/HastaLogin/Index/">Giriş Yap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="register-right">
            <div class="register-in">
                <h2><span class="fa fa-pencil"></span>Kayıt Paneli</h2>
                <div class="register-form">
                    <form action="#" method="post">
                        <div class="fields-grid">
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>AD</p>
                                </div>
                                @Html.TextBoxFor(t => t.AD, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>SOYAD</p>
                                </div>
                                @Html.TextBoxFor(t => t.SOYAD, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>TC NO</p>
                                </div>
                                @Html.TextBoxFor(t => t.TCNO, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">

                                <div style="color:white">
                                    <p>SİFRE</p>
                                </div>
                                @Html.TextBoxFor(t => t.Anahtar, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                </div>
                                @Html.HiddenFor(t => t.YETKİ, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>MAİL ADRESİ</p>
                                </div>
                                @Html.TextBoxFor(t => t.MAILADRESI, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>ADRES</p>
                                </div>
                                @Html.TextBoxFor(t => t.ADRES, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="styled-input agile-styled-input-top">
                                <div style="color:white">
                                    <p>TEL NO</p>
                                </div>
                                @Html.TextBoxFor(t => t.TELNO, new { @class = "form-control" })
                                <span></span>
                            </div>
                            <div class="clear"> </div>
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Sözleşmeyi<a href="#"> Okudum ve Kabul ediyorum.</a></label>
                        </div>
                        <input type="submit" value="Kayit">
                    </form>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>

        <!-- copyright -->
        <p class="agile-copyright">© 2022 Yozgat Bozok Üniversitesi Hasta Kayıt Paneli | Design by <a href="https://bozok.edu.tr/" target="_blank">Yozgat Bozok Üniversitesi</a></p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>

